footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-logo {
    flex-grow: 1;
    text-align: left;
  }

  .footer-text {
    flex-grow: 2;
    text-align: center;
    margin-left: 500px;
    ;
  }